:root {
    color-scheme: dark !important;

    --bg-col-0: #3C3C3C;
    --bg-col-1: #333333;
    --bg-col-2: #252526;
    --bg-col-3: #1E1E1E;
    --bg-highlight: #04395E;
    --text-col: #CCCCCC;
    --text-highlight: white;
    --link-col: rgb(131, 169, 252);
    --border-col: #414141;
    --border-col-bright: #555555;
    --border-highlight: #007FD4;

    --bg-textbox-unfocused: #2D2D30;
    --fg-textbox-unfocused: #CCCCCC;

    --bg-textbox-focused: #3C3C3C;
    --fg-textbox-focused: #CCCCCC;
}

* {
    transition: none !important;
}

html, body, #app, #view-default {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 12px;
    font-weight: bold;
    cursor: default;
    margin: 0;
}

h3 {
    font-size: 12px;
    font-weight: normal;
    cursor: default;
    margin: 0;
}

#app {
    background-color: var(--bg-col-3);
}

button, select {
    display: inline;
    background-color: inherit;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: var(--text-col);
    font-size: 13px;
    padding: 3px 5px;
    border-bottom: 1px solid var(--border-col-bright);
}

button:hover, button:active, select:hover, button:focus, button.selected {
    background-color: var(--bg-highlight);
    color: var(--text-highlight);
    outline: none;
}

select:focus, select:active {
    background-color: inherit;
    color: var(--text-highlight);
}

select option {
    background-color: transparent;
}

#header {
    color: var(--text-col);
    margin: 0;
    width: 100%;
    background-color: var(--bg-col-2);
    border: none;
    height: 45px;
    display:flex;
    justify-content:center;
}

#header-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    cursor: default;
    margin-left: auto;
    margin-top: 12.5px;
    padding-left: 20px;
}

#header-search {
    display: inline-block;
    filter: brightness(0.5);
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
}

#header-search:hover {
    filter: brightness(1);
}

#pane-left {
    float: left;
    width: 500px;
    height: 100%;
    /* border-right: 1px solid var(--border-col); */
    box-shadow: 0px 0px 8px black;
    background-color: var(--bg-col-3);
}

#results-scrollview {
    width: 100%;
    height: calc(100% - 46px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

#results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
}

#results-column-left, #results-column-right {
    padding: 0;
    margin: 0;
    flex: 50%;
}

.results-image {
    width: 100%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: auto;
    cursor: pointer;
}

#results-footer {
	margin: 50px auto;
	width: fit-content;
	color: var(--text-col);
    cursor: default;
}

#results-footer-text {
    text-align: center;
    display: inherit;
}

#btn-load-more, #btn-different-search {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

#pane-right {
    float: right;
    width: calc(100% - 500px);
    height: 100%;
}

#view-search {
    background-color: var(--bg-col-2);
    color: var(--text-col);
    position: fixed;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 0);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px black;
    width: 525px;
    z-index: 1000;
}

#search-tag-header, #search-tag-header-no-tags {
    display: inline-block;
    margin-left: 5px;
}

.search-tag {
    display: inline-block;
    margin: 5px;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--bg-col-0);
    min-width: 50px;
}

.search-tag:hover {
    background-color: var(--bg-highlight);
    color: var(--text-highlight);
    border: none;
}

.search-tag .search-tag-close {
    color: var(--text-col);
}

.search-tag:hover .search-tag-close {
    color: var(--text-highlight);
}

.search-tag-close {
    margin-left: 5px;
}

#btn-clear {
    margin-left: 10px;
}

#btn-search, #search-site, #btn-safe-search {
    display: block;
    float: right;
    text-align: right;
    margin-left: 10px;
}

#search-site {
    background-color: var(--bg-col-2);
}

#btn-exit-search {
    float: left;
}

#search-input {
    box-sizing: border-box;
    padding: 15px;
    /* font-weight: bold; */
    font-size: medium;
    background-color: var(--bg-textbox-unfocused);
    border-radius: 3px;
    width: 100%;
    color: var(--fg-textbox-unfocused);
    height: 20px;
    border: 1px solid var(--border-col);
    /* font-family: 'Monaco', monospace; */
    margin-top: 10px;
}

#search-input:hover {
    background-color: var(--bg-textbox-focused);
    color: var(--fg-textbox-focused);
    border: 1px solid var(--border-col-bright);
    outline: none;
}

#search-input:focus {
    background-color: var(--bg-textbox-focused);
    color: var(--fg-textbox-focused);
    border: 1px solid var(--border-highlight);
    outline: none;
}

#results-placeholder, #post-placeholder {
    margin: auto;
    margin-top: 100px;
    width: fit-content;
    cursor: pointer;
}

#results-placeholder img, #post-placeholder img {
    display: block;
    width: 100px;
    margin: auto;
    filter: brightness(0.75);
}

#post-placeholder {
    margin-top: 200px;
    cursor: default;
}

#results-placeholder:hover img {
    filter: brightness(0.85);
}

#results-placeholder:hover h2 {
    color: var(--text-highlight);
}

#results-placeholder h2, #post-placeholder h2 {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: var(--text-col);
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#search-autocomplete {
    margin-top: 10px;
}

.autocomplete-tag {
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    padding: 3px 10px;
    word-wrap: break-word;
}

.tag-artist {
    color: rgb(255, 138, 139);
}

.tag-copyright {
    color: rgb(199, 151, 255);
}

.tag-character {
    color: rgb(53, 198, 74);
}

.tag-general, .tag-tags {
    color: rgb(0, 155, 230);
}

.tag-meta {
    color: rgb(234, 208, 132);
}

.tag-circle {
    color: #0bb;
}

#pane-right {
    overflow-y: scroll;
}

#post {
    position: relative;
}

#post-body {
    margin-left: 20px;
}

#post-image, #post-video {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: calc(100vh - 45px);
	margin: auto;
	box-shadow: 0 0 8px black;
	object-fit: scale-down;
	background-color: var(--bg-col-2);
}

#post-top-bar {
    margin: auto;
    max-width: 500px;
    display: block;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#post-downscale-warning {
    margin-right: 15px;
}

#btn-prev-post {
    float: left;
    width: 10%;
}

#post-downscale-info {
    float: left;
    width: 80%;
    text-align: center;
    font-size: 13px;
}

#btn-next-post {
    float: right;
    width: 10%;
}

#post-info-header {
    margin-left: 5px;
    font-size: large;
    margin-bottom: 10px;
}

.post-property {
    display: block;
    margin: 5px;
    word-wrap: break-word;
}

.post-tag-type-header {
    font-size: medium;
}

.post-tag-type {
    margin: 15px 5px;
}

.post-tag-list {
    font-family: "Monaco", monospace;
    font-size: 13px;
    word-wrap: break-word;
}

.invisible {
    visibility: hidden;
}

#btn-close-post {
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    filter: brightness(0.5);
    cursor: pointer;
    box-sizing: border-box;
}

#btn-close-post:hover {
    filter: brightness(1);
}

#post-action-section {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    * {
        box-shadow: none !important;
        filter: none !important;
    }

    #pane-left {
        width: 100%;
        box-shadow: none;
    }

    #pane-right {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: unset;
        height: unset;
    }

    #post {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        background-color: var(--bg-col-3);
        overflow-y: scroll;
    }

    #post-placeholder {
        display: none;
    }

    #post-image, #post-video {
        height: auto;
        max-height: none;
        object-fit: contain;
    }

    #btn-close-post {
        filter: none;
    }
}

@media (max-width: 600px) {
    #view-search {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        box-sizing: border-box;
    }
}
