
h3, h4 {
    margin-top: 10px;
    margin-bottom: 3px;
}

a {
    color: rgb(131, 169, 252);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#content {
    overflow-x: hidden;
    margin-top: 60px;
}

#search {
    width: 100%;
    position: fixed;
    padding-top: 3px;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    overflow: hidden;
}

#search.open {
    overflow-x: hidden;
    overflow-y: scroll;
    /* height: 100%; */
}

#search-box {
    font-family: monospace;
    margin-top: 3px;
    padding: 4px;
    width: 100%;
    height: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
    border: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    outline: none !important;
}

#search-box.open {
    height: 150px;
    border: none;
}

button, select {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
    border: 1px solid gray;
}

button:hover, select:hover, button:focus, select:focus {
    background-color: gray;
}

.taglist {
    font-family: monospace;
}

#danbooru-post-info {
    margin: 10px;
}

#downscale-warning, #view-original {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
}

#suggestions {
    margin-bottom: 5px;
}

#results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
}

.column {
    padding: 0;
    margin: 0;
    flex: 50%;
}

.column img {
    width: 100%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
}

#more-btn, #loading-message {
    display: block;
}

#footer {
    margin: 10px auto;
    width: fit-content;
}

#fullscreen-container {
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    overflow: scroll;
    /* align-items: center; */
}

.fullscreen-content {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.content-hidden {
    /* visibility: hidden; */
    overflow: hidden;
}

.suggestion {
    margin: 2px 6px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.tag-artist {
    color: rgb(255, 138, 139);
}

.tag-copyright {
    color: rgb(199, 151, 255);
}

.tag-character {
    color: rgb(53, 198, 74);
}

.tag-general {
    color: rgb(0, 155, 230);
}

.tag-meta {
    color: rgb(234, 208, 132);
}

#help {
    font-size: 12px;
}

#help-btn {
    font-size: 14px;
}

#help-menu {
    position: fixed;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 5;
    background-color: black;
    overflow:hidden;
}

#help-menu > ul {
    margin-top: 10px;
    padding: 10px;
    margin: 0;
}

#close-help-menu {
    display: block;
    margin: auto;
}

#header-right-side {
    float: right;
}

#post-top-bar {
    margin-bottom: 15px;
}

#post-top-bar:after {
    content: "";
    display: table;
    clear: both;
}

#prev-post {
    float: left;
    width: 10%;
}

#downscale-info {
    float: left;
    width: 80%;
    text-align: center;
}

#next-post {
    float: right;
    width: 10%;
    text-align: right;
}

#fullscreen-close {
    display: block;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.hidden {
    visibility: hidden;
}

@media (min-width: 600px) {
    #search {
        width: 500px;
        margin: auto;
        left: calc(50% - 250px);
    }
    body {
        width: 500px;
        margin: auto;
    }
    #fullscreen-container {
        width: 500px;
        margin: auto;
        left: calc(50% - 250px);
    }
    #help-menu {
        width: 500px;
        margin: auto;
        left: calc(50% - 250px);
    }
}


